<div class="content-apresentation">
  <div class="header">
    <p class="title">Iury Dev</p>
    <div class="social-media">
      <div class="icon-container">
        <img
          class="icon linkedin-icon"
          alt="linkedin"
          src="assets/svg/linkedin.svg"
        />
      </div>
      <div class="icon-container">
        <img
          class="icon github-icon"
          alt="github"
          src="assets/svg/github.svg"
        />
      </div>
      <div class="icon-container">
        <img
          class="icon github-icon"
          alt="github"
          src="assets/svg/instagram.svg"
        />
      </div>
    </div>
  </div>

  <div class="welcome">
    <h2>Nice to meet you!</h2>
    <h2><span>I'm Iury Castro</span></h2>
  </div>

  <div class="bio">
    <p>
      Graduated as a software analyst and developer, I have 4 years of
      experience in developing web applications in different segments, both in
      the private industry and in the public sector.
    </p>
  </div>

  <div class="content-button-contact">
    <button class="contact-button">CONTACT ME</button>
    <img class="icon right-arrow" alt="" src="assets/svg/right-arrow.svg" />
  </div>

  <div class="content-banner">
    <img src="assets/photos/foto-perfil.png" alt="" />
  </div>
</div>
