.content-apresentation {
  z-index: 2;
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
}

.header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.header .content-left {
  display: flex;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, minmax(30px, 30px));
  grid-gap: 0.8rem;
  width: min-content;
  padding-right: 1rem;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.icon-container:hover .icon {
  transform: translateY(-2px);
}

.icon-container::before {
  content: "\2022";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  line-height: 15px;
  opacity: 0;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.icon-container:hover::before {
  opacity: 1;
}

.welcome {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.welcome span {
  border-bottom: #3e3be9 2px solid;
}

.content-banner {
  height: auto;
  width: 400px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3524738c;
  opacity: 60%;
}

.bio {
  max-width: 50%;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.contact-button {
  color: #fff;
  border-bottom: #3e3be9 2px solid;
}

.content-button-contact {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0;
  font-size: 1rem;
}

.content-button-contact button {
  margin-right: 0;
  transition: margin-right 0.3s ease-in-out;
}

.content-button-contact:hover button {
  margin-right: 0.3rem;
}

.config-language {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem;
  font-size: 1rem;
}
.config-language button {
  position: relative;
  color: #fff;
}
.config-language button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3e3be9;
  bottom: 3px;
  left: 0;
}
.config-language button.active::after {
  width: 100%;
  transition: width 0.3s;
}
