@media only screen and (max-width: 60.625rem) {
  .content-skills {
    justify-content: center;
  }
}

.content-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  grid-gap: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.experience {
  font-size: 1rem;
}
