/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 60.625rem) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 60.688rem) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}

body p {
  color: #d9d9d9;
}

body h1, h2, h3, h4 {
  color: #FFF;
}
